---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: We have joined SNEPOA because we see that....
    image: "https://placekitten.com/g/60/60?a=.png"
    name: Robert de Cosmo (President of CT Property Owners Alliance)
  - message: As soon as SNEPOA was founded, it decided to join the lawsuit challenging the MA eviction moratorium.
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Mitchell Matorin (Attorney and Plaintif )
  - message: .......
    image: "https://placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">

	<p>Southern New England Property Owners Association supports legislative actions, lobbying efforts, and ....</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
